<!--div class="widget-search widget">
	<form class="widget-search__form" role="search" method="get" action="https://google.com/search">
		<label>
			<input class="widget-search__field" type="search" placeholder="{{ T "search_placeholder" }}" value="" name="q" aria-label="{{ T "search_placeholder" }}">
		</label>
		<input class="widget-search__submit" type="submit" value="Search">
		<input type="hidden" name="sitesearch" value="{{ .Site.BaseURL }}" />
	</form>
</div-->
<div class="widget-search widget">
        <h4 class="widget__title">Search</h4>
	<ul>
<li class="dropdown">
    <a>
        <!--i class="fa fa-search"></i-->
        <div class="searchbox pull-right">
        <input data-search-input id="search-by" type="text">
        </div>
    </a>
    </li>
</ul>
   </div>