h1 {
    font-size: 32px !important;
}

.item {
	text-align: left;
}

.intro {
	transform: none !important;
}

.copyright {
	display: none !important;
}

#particles-js {
	/* position: absolute; */
	width: 100%;
	height: 100px;
	background-color: #f7f7f7; /* 191970 */
	/* background-image: url("../images/screen.jpg"); */
	/* background-image: url("../images/screen2.png"); */
	/* background-image: linear-gradient(to bottom right, black, navy,#aaa); */
	background-image: linear-gradient(to bottom, #ccc, #f7f7f7);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.post__thumbnail {
  width: 50%;
}

#search-by {
	width: 200px;
	position: absolute;
	top: 7px;
	right: 10px;
}

div {
  box-sizing: border-box;
}

/*#sticker {
	font-size: 0.6em;
}*/

.flex-table {
  display: flex;
  flex-flow: row wrap;
  border-left: solid 1px #ccc;
  transition: 0.5s;
}

.sidebar_menu {
	position: fixed;
	top: 50%;
	right: 0;
/*	background: #fefefe;
*/}

.activated {
	opacity: 1;
}

.deactivated {
	opacity: 0.5;
}