{{- if .Site.Menus.main }}
<nav class="menu">
	<button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
		<span class="menu__btn-title" tabindex="-1">{{ T "menu_label" }}</span>
	</button>
	<ul class="menu__list">
		{{- $currentNode := . }}
		{{- range sort .Site.Menus.main }}
		{{- if .Name}}
		<li class="menu__item{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{end}}">
			<a class="menu__link" href="{{ .URL }}">{{ .Name }}</a>
		</li>
		{{- end }}
		{{- end }}
		<li class="menu__item">
			<a class="menu__link" href="/categories/post/">Posts</a>
		</li>
		<!--li class="menu__item">
			<a class="menu__link" href="/categories/project/">Machine Learning</a>
		</li-->
		<li class="menu__item">
			<a class="menu__link" href="/categories/book/">Books</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/categories/project/">Projects</a>
		</li>
	</ul>
</nav>
{{ else -}}
<div class="divider"></div>
{{- end }}